.formContainer{
  padding: 100px !important;
  margin: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F2A444;
}

.titleProfile{
  text-align: center;
  margin-top:60px;
}

.centerButtons{
  text-align: center;
  justify-content: center;
  padding-top:200px;
}

.centerButtons2{
  text-align: center;
  justify-content: center;
  padding-top:30px;
}

.containerLeft{
  width:50%;
  float:left;
}

.containerRight{
  width:50%;
  float:right;
  padding-left:30px;
}

